./myvenv
myvenv

./src/build
src/build
src/statistikdata/output*

*.pyc
*311.pyc

./src/__pycache__/Router.cpython-311.pyc 
/src/__pycache__/Router.cpython-311.pyc

./src/__pycache__/singelton.cpython-311.pyc 
/src/__pycache__/singelton.cpython-311.pyc

./src/configordner/__pycache__/settings.cpython-311.pyc 
/src/configordner/__pycache__/settings.cpython-311.pyc

./src/db/CRUD/__pycache__/DatumSpeicherung.cpython-311.pyc 
/src/db/CRUD/__pycache__/DatumSpeicherung.cpython-311.pyc

./src/db/CRUD/__pycache__/Statistik.cpython-311.pyc
/src/db/CRUD/__pycache__/Statistik.cpython-311.pyc

./src/db/db_and_models/__pycache__/engine.cpython-311.pyc 
/src/db/db_and_models/__pycache__/engine.cpython-311.pyc

./src/db/db_and_models/__pycache__/models.cpython-311.pyc 
/src/db/db_and_models/__pycache__/models.cpython-311.pyc

./src/db/db_and_models/__pycache__/session.cpython-311.pyc 
/src/db/db_and_models/__pycache__/session.cpython-311.pyc

./src/Designer/__pycache__/design.cpython-311.pyc 
/src/Designer/__pycache__/design.cpython-311.pyc

./src/jsonconverter/__pycache__/converter.cpython-311.pyc 
/src/jsonconverter/__pycache__/converter.cpython-311.pyc

./src/Ki/__pycache__/opencvcode.cpython-311.pyc 
/src/Ki/__pycache__/opencvcode.cpython-311.pyc

./src/logic/__pycache__/kilauflogic.cpython-311.pyc 
/src/logic/__pycache__/kilauflogic.cpython-311.pyc

./src/modele/__pycache__/InterneDatenModele.cpython-311.pyc 
/src/modele/__pycache__/InterneDatenModele.cpython-311.pyc

./src/StatusMeldungen/__pycache__/status.cpython-311.pyc 
/src/StatusMeldungen/__pycache__/status.cpython-311.pyc

./src/windows/__pycache__/fletmaininhalt.cpython-311.pyc 
/src/windows/__pycache__/fletmaininhalt.cpython-311.pyc
